/* common */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 25px;
  color: #ffffff;
}
img{max-width: 100%;}
a{text-decoration: none; transition: all .3s;}
.desktop{}
.mobile{display: none;}

.d-flex{
  display: flex;
}
.d-flex-inline{
  display: inline-flex;
}
.wrap{
  flex-wrap: wrap;
}
.align-center{
  align-items: center;
}
.justify-between {
  justify-content:space-between;
}
.justify-center {
  justify-content:center;
}
.justify-end {
  justify-content:flex-end;
}
.text-center{
  text-align: center;
}
.btn{
  background: #35371D;
  border-radius: 5px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  align-items: center;
  color: #FFFFFF;
  padding: 11px 29px 11px 11px;
  display: inline-block;
}
.btn i{
  padding-right: 11px;
}
h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 25px;
  text-align: center;
  margin: 0px;
}
h6{
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 24px;
}

header{
  background: rgba(163, 186, 118, 1);
  padding: 20px 42px 21px 134px;
}
.logo{
  max-width: 140px;
  position: relative;
  top: 10px;
}
.head-btn{
  background: #FFFFFF !important;
  border: 2px solid #35371D;
  border-radius: 50px;
  padding: 21px 56px 20px 58px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #35371D;
  display: flex;
  height: auto !important;
  box-sizing: border-box;
}
.button{
  padding: 32px 134px;
}
.banner-block{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.main-content{
  padding-bottom: 290px;
  min-height: calc(100vh - 111px);
  box-sizing: border-box;
}
.page-content{
  width: 100%;
  max-width: 487px;
  margin: 42px auto;
  box-sizing: border-box;
}
.form-section{
  background: #A3BA76;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 40px 40px 20px;
}
.form-inner{
  background: #35371D;
  border-radius: 5px;
  display: block !important;
}
.form-inner input[type="text"],
.inner-button{
  background: #35371D;
  height: 70px;
  border: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 26px;
  line-height: 25px;
  color: #FFFFFF;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  outline: none;
  border-radius: 6px;
  margin-bottom: 10px;
}
.inner-button{
  background: #ffffff;
  color: #35371D;
}
.deposit{
  padding: 20px 20px 10px;
  border: 1px solid #35371D;
  border-radius: 6px;
  margin-bottom: 20px;
}
.form-inner.css-a88p61-MuiInputBase-root-MuiInput-root:after,
.form-inner.css-a88p61-MuiInputBase-root-MuiInput-root:before{
  display: none;
}
::placeholder {color: #ffffff !important;}
:-ms-input-placeholder {color: #ffffff !important;}
::-ms-input-placeholder {color: #ffffff !important;}

.inner-right{
  font-weight: 400;
  font-size: 26px;
  width: 100px;
  padding-right: 37px;
  box-sizing: border-box;
  text-align: right;
}
.center-arrow{
  font-size: 40px;
  text-align: center;
  color: #35371D;
  padding: 23px 0px;
}
.form-bottom{
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #35371D;
  margin-bottom: 17px;
}
.form-bottom .left{
  padding-left: 8px;
}
.margin-top{
  margin-top: 77px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h6 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .main-content {
    padding-bottom: 100px;
    height: 100vh;
  }
  header,
  .button {
    padding: 20px 42px;
  }
  .head-btn{
    font-size: 16px;
    padding: 10px 25px;
  }
  .btn {
    font-size: 15px;
    padding: 11px 20px 11px 11px;
    display: inline-block;
  }
  .form-section {
    padding: 50px 30px 7px 30px;
  }
  .form-bottom .left {
    padding-left: 0px;
  }
  .inner-right {
    font-size: 20px;
    padding-right: 25px;
  }
  .form-inner input[type="text"] {
    height: 60px;
    font-size: 20px;
    padding-left: 25px;
  }
  .margin-top {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 480px) {
  header, .button {
    padding: 15px;
  }
  .logo {
    max-width: 120px;
    position: relative;
    top: 10px;
  }
  .head-btn {
    font-size: 14px;
    padding: 8px 20px;
  }
  .form-section {
    padding: 40px 20px 33px 20px;
  }
  .form-bottom {
    font-size: 15px;
    margin-bottom: 7px;
  }
  .center-arrow {
    font-size: 28px;
    text-align: center;
    color: #35371D;
    padding: 15px 0px;
  }
}